main {
    border: 5px solid dodgerblue;
    min-height: 100vh;
    padding: 5rem 1.5rem 0 1.5rem;
    margin: auto;
    max-width: 70rem;
    position: relative;
    // overflow-y: hidden;


    

    display: flex;
    align-items: center;
    flex-direction: row;

    

    @media (max-width: 750px) {
        flex-direction: column;
    }

    .heroImage {
        // border: 1px solid red;
        width: 100%;
    }

    .heroText {
        order: -1;
        // border: 1px solid red;

        @media (max-width: 750px) {
            text-align: center;
            order: 0;
        }

        h1 {
            // border: 1px solid red;
            font-size: 3.75rem;
            margin: 2.25rem 0;
            letter-spacing: -0.1rem;


            display: flex;
            flex-direction: column;
            @media (max-width: 750px) {
                letter-spacing: 0rem;
                font-size: 2.4rem;
                margin: 1rem 0;
            }
        }
        p {
            font-size: 1.2rem;
            width: 88%;
            // border: 1px solid red;
            margin-bottom: 2.125rem;
            @media (max-width: 750px) {
                width: 100%;
            }
        }
    }
}
