#testimonials {
    text-align: center;


    .swiper-container {
        .swiper-wrapper {
            .swiper-slide {
                height: 13.56rem;
                width: 33.43rem;
                background-color: $color-light-gray;
            }
        }
    }
}