#whyManage {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        background: url(../../images/bg-tablet-pattern.svg) no-repeat;
        background-position: bottom 35rem left -22rem;
        background-size: 63rem;
        // border: 5px solid hotpink;
        width: 100%;
        height: 200%;
        z-index: -4;

        @media (max-width: 750px) {
            top: -22rem;
            background-size: 25rem;
            background-position: top -4rem right -15rem;
        }
    }
    .container {
        display: flex;
        min-height: 100vh;
        // border: 1px solid aqua;
        margin-top: 8.125rem;
        padding: 0 1.5rem;

        @media (max-width: 750px) {
            flex-direction: column;
        }

        .left {
            // border: 1px solid salmon;
            margin-right: 4.68rem;
            margin-bottom: 3.75rem;

            @media (max-width: 750px) {
                margin-right: 0;
            }
            h2 {
                font-size: 2.5rem;
                margin-bottom: 2.125rem;
                // border: 1px solid salmon;
                letter-spacing: -0.1rem;

                @media (max-width: 750px) {
                    font-size: 1.875rem;
                    text-align: center;
                    margin-bottom: 1.7rem;
                }
            }

            p {
                width: 80%;
                @media (max-width: 750px) {
                    width: 100%;
                    text-align: center;
                }
            }
        }

        .right {
            // border: 1px solid springgreen;
            margin-left: 4.68rem;
            @media (max-width: 750px) {
                margin-left: 0;
            }

            .reasonParagraph {
                // border: 1px solid slateblue;
                padding-left: 6.5rem;
                margin-bottom: 2.7rem;
                margin-top: 1.8rem;

                @media (max-width: 750px) {
                    margin-top: 1.125rem;
                    padding-left: 0;
                    margin-bottom: 3.19rem;
                }
            }
        }
    }
}
